<% include ../layout/header.html%>
<div id="main">
<% include ../layout/sider.html%>
<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="/">主页</a><span class="divider">/</span></li>
        <li class="active">设置</li>
      </ul>
    </div>
    <div class="inner">
      
      <form id="setting_form" class="form-horizontal" action="/users/doreset" method="post" enctype="multipart/form-data">
        <div class="control-group">
          <label class="control-label" for="name">用户名</label>
          <div class="controls">
            <input class="input-xlarge readonly" id="name" name="uname" size="30" type="text" readonly="true" value="<%=user.uname%>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">电子邮件</label>

          <div class="controls">
            <input class="input-xlarge readonly" id="email" name="email" size="30" type="text" readonly="true" value="<%=user.email%>">
          </div>
        </div>
        <img src="/uploads/<%=user.userpic?user.userpic:'default.jpg'%>" alt="" style="width:120px;height:80px;margin-left:179px">
        <div class="control-group">
          <label class="control-label" for="weibo">头像</label>
          <div class="controls">
            <input class="input-xlarge" id="weibo" name="pic" size="30" type="file" value="" >
          </div>

        </div>

        <div class="control-group">
          <label class="control-label" for="signature">个性签名</label>

          <div class="controls">
            <textarea class="input-xlarge" id="signature" name="mark" size="30"><%=user.mark%></textarea>
          </div>
        </div>
      

        <div class="form-actions">
          <input type="submit" class="span-primary submit_btn" data-loading-text="保存中.." value="保存设置">
        </div>

      </form>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">更改密码</span>
    </div>
    <div class="inner">
      <form id="change_pass_form" class="form-horizontal" action="/setting" method="post">
        <div class="control-group">
          <label class="control-label" for="old_pass">当前密码</label>

          <div class="controls">
            <input class="input-xlarge" type="password" id="old_pass" name="old_pass" size="30">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="new_pass">新密码</label>

          <div class="controls">
            <input class="input-xlarge" type="password" id="new_pass" name="new_pass" size="30">
          </div>
        </div>
        <input type="hidden" id="action" name="action" value="change_password">
        <input type="hidden" name="_csrf" value="MJGrTDtF-BW9DA8slg0A2BrnCQND6DGvhGzk">

        <div class="form-actions">
          <input type="submit" class="span-primary submit_btn" data-loading-text="更改中.." value="更改密码">
        </div>
      </form>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">Access Token</span>
    </div>
    <div class="inner">
      <div>
        <span>字符串：</span>
        af0dd148-911d-4117-b17e-e6b9d0fad3b3
      </div>
   
    </div>
  </div>
</div>


</div>

<% include ../layout/footer.html%>